@import url(http://fonts.googleapis.com/css?family=Open+Sans|Cousine);

html { 
	background: url(http://f.cl.ly/items/0O290z1M0u2J0N1h0O0r/VOID.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
  text-align: left;
  font-family: 'Open Sans';
}

.navbar {
  width: 100%;
  height: auto;
  
  text-align: center;
  color: #00a2e8;
  
  background-color: black;
  padding: 5px;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navbar a {
  margin-right: 25px;
  
  text-decoration: none;
  color: #00a2e8;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 35em;
  height: auto;
  
  text-align: left;
  
  background-color: e7e7e7;
  padding: 20px;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
  
.title {
  width: 100%;
  height: auto;
  
  margin-bottom: 25px;
  
  text-align: center;
  font-size: 2em;
  font-family: 'Cousine';
  
  background-color: black;
  padding: 5px;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.title .blue {
  color: #00a2e8;
}

.title .white {
  color: white;
}